@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* IE */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale')";

}

body {
  color:#fff;
  /*background: #111*/
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
quote {
  font-style: italic;
  opacity: 0.8;
}
a {
  text-decoration: none;
  color:#fff;
}
.container {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
.personal {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.links {
  margin-top: 50px;
  list-style: none;
  padding: 0px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.button {
  border-radius: 2px;
  border: 1px solid #FFF;
  margin:2px 0px 5px 5px;
  padding: 10px;
  text-align: center;
  background: #FFF;
  display: inline-block;
  color: #555;
  transition: 0.4s linear;
}
.button:hover {
  border-radius: 4px;
  background: #3C2923;
  border:1px solid #FFF;
  color: #FFF;
  opacity: 0.8;
}

.works-box {
  margin-top: 35px;
}
