@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* IE */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale')";
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

body {
  color:#fff;
  /*background: #111*/
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
quote {
  font-style: italic;
  opacity: 0.8;
}
a {
  text-decoration: none;
  color:#fff;
}
.container {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
.personal {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.links {
  margin-top: 50px;
  list-style: none;
  padding: 0px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.button {
  border-radius: 2px;
  border: 1px solid #FFF;
  margin:2px 0px 5px 5px;
  padding: 10px;
  text-align: center;
  background: #FFF;
  display: inline-block;
  color: #555;
  transition: 0.4s linear;
}
.button:hover {
  border-radius: 4px;
  background: #3C2923;
  border:1px solid #FFF;
  color: #FFF;
  opacity: 0.8;
}

.works-box {
  margin-top: 35px;
}

.social {
    margin-top: 20px;
}

/**
 * dorpdown
 */

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-menu {
  background: #FFF;
  position: absolute;
  left: 0px;
  top: 100%;
  border-radius: 2px;
  z-index: 100;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
  text-align: left;
  padding: 2px 2px 2px 5px;
  margin-left: 5px;
  display: none;
}
.dropdown .dropdown-menu a {
  border-radius: 2px;
  border: 1px solid #FFF;
  background: #FFF;
  display: inline-block;
  color: #555;
  transition: 0.4s linear;
  margin-bottom: 1px;
  padding: 5px;
}

.dropdown .dropdown-menu a:hover {
  border-radius: 4px;
  background: #3C2923;
  border:1px solid #FFF;
  color: #FFF;
  opacity: 0.8;
}
.dropdown .dropdown-menu a:last-child {
  margin-bottom: 0px;
}

.works-container {
    border-bottom:1px solid #FFF;
    width: 80%;
    margin:0px auto;
    padding-bottom: 20px;
}
