@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  color:#fff;
  background: #111;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
quote {
  font-style: italic;
  opacity: 0.8;
}
a {
  text-decoration: none;
  color:#fff;
}
.container {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
.personal {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.links {
  margin-top: 50px;
  list-style: none;
  padding: 0px;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.button {
  border-radius: 2px;
  border: 1px solid #FFF;
  margin-top:10px;
  margin:0px 5px;
  padding: 10px;
  text-align: center;
  background: #FFF;
  display: inline-block;
  color: #555;
  transition: 0.4s linear;
}
.button:hover {
  margin: 0px 5px;
  border-radius: 4px;
  background: #111;
  border:1px solid #FFF;
  color: #FFF;
  opacity: 0.8;
}

.works-box {
  margin-top: 35px;
}
